<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> 
    
    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>CREANDO PROVEEDOR</title>
</head>
<body background="../static/core/img/cornet.png">
    <div class="container">
        <div class="row">
            <h1 style="color: white;">Creando Proveedor</h1>
        </div>
        
        <div class="row" style="color: white;">
            <div class="row">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group"> 
                    <input type="submit" class="btn btn-danger" id="enviar" value="Enviar"> 
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">                     </div>  
                </form>    

        </div>
               
            

        </div>

    </div>
    
</body>
</html>